@import "tailwindcss";

@theme {
  --font-sans: "IranianSans", ui-sans-serif, system-ui, sans-serif;

  --color-primary-50: #FFFCE5;
  --color-primary-100: #FFF7B8;
  --color-primary-200: #FFEE85;
  --color-primary-300: #FFE452;
  --color-primary-400: #FFDA2B;
  --color-primary-500: #F5CD0A;
  --color-primary-600: #F0C400;
  --color-primary-700: #C7A200;
  --color-primary-800: #9E8100;
  --color-primary-900: #756000;
}

@font-face {
  font-family: "IranianSans";
  src: url("/Fonts/IranianSansRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-sans);
}